<form>
    <div>{{localize "MGME.CrafterRngLocCrafterLocTable" }}: {{PPLoc}}</div>
    <div>{{localize "MGME.CrafterRngLocCrafterEncTable" }}: {{PPEnc}}</div>
    <div>{{localize "MGME.CrafterRngLocCrafterObjTable" }}: {{PPObj}}</div>
    <br>
    <div>
        <label for="mgme_pp_target">{{localize "MGME.CrafterRngLocCrafterPPShift"}}:</label>
        <select id="mgme_pp_target" style="margin-bottom:10px;width: 270px;">
            <option selected value="all">{{localize "MGME.All"}}</option>
            <option value="locations">{{localize "MGME.CrafterRngLocCrafterLocTable"}}</option>
            <option value="encounters">{{localize "MGME.CrafterRngLocCrafterEncTable"}}</option>
            <option value="objects">{{localize "MGME.CrafterRngLocCrafterObjTable"}}</option>
        </select>
        <select id="mgme_pp_mod" style="margin-bottom:10px;">
            <option value="6">+6</option>
            <option value="5">+5</option>
            <option value="4">+4</option>
            <option value="3">+3</option>
            <option value="2">+2</option>
            <option selected value="1">+1</option>
            <option value="-1">-1</option>
            <option value="-2">-2</option>
            <option value="-3">-3</option>
            <option value="-4">-4</option>
            <option value="-5">-5</option>
            <option value="-6">-6</option>
        </select>
    </div>
</form>