<form>
    <div>
        <label for="mgme_rng_loc_crafter_flavor">{{ localize 'MGME.Question' }}:</label>
        <input id="mgme_rng_loc_crafter_flavor" style="margin-bottom:10px;width:280px"/>
    </div>

    <div>
        <label for="mgme_rng_loc_crafter_table_1">{{ localize 'MGME.CrafterRngLocCrafterLocTable' }}:</label>
        <select id="mgme_rng_loc_crafter_table_1" style="margin-bottom:10px;width: 230px;">
            <option selected>None</option>
        </select>
        <input id="mgme_rng_loc_crafter_formula_1" placeholder="1d10+PP" value="1d10+{{PPLoc}}" style="width: 60px;height: 27px;">
    </div>

    <div>
        <label for="mgme_rng_loc_crafter_table_2">{{ localize 'MGME.CrafterRngLocCrafterEncTable' }}:</label>
        <select id="mgme_rng_loc_crafter_table_2" style="margin-bottom:10px;width: 230px;">
            <option selected>None</option>
        </select>
        <input id="mgme_rng_loc_crafter_formula_2" placeholder="1d10+PP" value="1d10+{{PPEnc}}" style="width: 60px;height: 27px;">
    </div>

    <div>
        <label for="mgme_rng_loc_crafter_table_3">{{ localize 'MGME.CrafterRngLocCrafterObjTable' }}:</label>
        <select id="mgme_rng_loc_crafter_table_3" style="margin-bottom:10px;width: 230px;">
            <option selected>None</option>
        </select>
        <input id="mgme_rng_loc_crafter_formula_3" placeholder="1d10+PP" value="1d10+{{PPObj}}" style="width: 60px;height: 27px;">
    </div>

    <div>
        <label for="mgme_rng_loc_crafter_table_4">{{ localize 'MGME.CrafterRngLocCrafterRegTable' }}:</label>
        <select id="mgme_rng_loc_crafter_table_4" style="margin-bottom:10px;width: 270px;">
            <option selected>None</option>
        </select>
        <input type="checkbox" id="mgme_rng_loc_crafter_roll_reg" style="vertical-align: middle;">
    </div>
</form>