<form>
    <label for="mgme_format_style">{{ localize 'MGME.Style' }}:</label>
    <select id="mgme_format_style" style="margin-bottom: 10px;">
        <option value="title" selected>{{ localize 'MGME.Title' }}</option>
        <option value="subtitle">{{ localize 'MGME.Subtitle' }}</option>
        <option value="bold">{{ localize 'MGME.Bold' }}</option>
        <option value="italic">{{ localize 'MGME.Italic' }}</option>
        <option value="underline">{{ localize 'MGME.Underline' }}</option>
        <option value="normal">{{ localize 'MGME.Normal' }}</option>
    </select>
    <label for="mgme_format_speaker">{{ localize 'MGME.Speaker' }}:</label>
    <select id="mgme_format_speaker" style="margin-bottom: 10px;width:180px"></select>
    <label for="mgme_format_color" style="margin-bottom:10px;">{{ localize 'MGME.Color' }}:</label>
    <input id="mgme_format_color" style="margin-bottom:10px;width:60px;" placeholder="default"/>
    <label for="mgme_format_text">{{ localize 'MGME.Message' }}:</label>
    <input id="mgme_format_text" style="margin-bottom:10px;width: 200px;"/>
</form>