<form>
    <div>
        <em>{{ localize 'MGME.ExternalRollExplain' }}<b>{{#each rollTotals }} {{this}},{{/each}}</b></em>
    </div>

    <div>
        <label for="mgme_ext_roll_table_name" style="margin-bottom:10px;">{{ localize 'MGME.ExternalRollTableName' }}:</label>
        <input disabled id="mgme_ext_roll_table_name" style="margin-bottom:10px;width:260px"/>
    </div>

    <div>
        <label for="mgme_ext_roll_flavor">{{ localize 'MGME.ExternalRollTableFlavor' }}:</label>
        <input id="mgme_ext_roll_flavor" style="margin-bottom:10px;width:230px"/>
    </div>

    <div>
        <label for="mgme_ext_roll_outcome">{{ localize 'MGME.ExternalRollTableOutcome' }}:</label>
        <input id="mgme_ext_roll_outcome" style="margin-bottom:10px;;width:260px"/>
    </div>
</form>