<div class="mythic-gme-dialog">
    <div class="mythic-gme-dialog__button-control mgme_panel_fc">
        <button class="mythic-gme-dialog__button" id="mgme_panel_fc">
            <i class="fas mythic-gme-dialog__icon--left fa-question" style="margin-right: 10px;"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.FateCheck"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_sa">
        <button class="mythic-gme-dialog__button" id="mgme_panel_sa">
            <i class="fas mythic-gme-dialog__icon--left fa-question" style="margin-right: 10px;"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.SceneAlteration"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_ec">
        <button class="mythic-gme-dialog__button" id="mgme_panel_ec">
            <i class="fas mythic-gme-dialog__icon--left fa-lightbulb" style="margin-right: 10px;"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.EventCheck"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_dc">
        <button class="mythic-gme-dialog__button" id="mgme_panel_dc">
            <i class="fas mythic-gme-dialog__icon--left fa-lightbulb" style="margin-right: 10px;"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.DetailQuestion"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_ac">
        <button class="mythic-gme-dialog__button" id="mgme_panel_ac">
            <i class="fas mythic-gme-dialog__icon--left fa-info" style="margin-right: 10px;"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.ActionQuestion"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_desc">
        <button class="mythic-gme-dialog__button" id="mgme_panel_desc">
            <i class="fas mythic-gme-dialog__icon--left fa-info" style="margin-right: 10px;"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.DescriptionQuestion"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_bc">
        <button class="mythic-gme-dialog__button" id="mgme_panel_bc">
            <i class="fas mythic-gme-dialog__icon--left fa-user" style="margin-right: 10px;"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.BehaviorCheck"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_sc">
        <button class="mythic-gme-dialog__button" id="mgme_panel_sc">
            <i class="fas mythic-gme-dialog__icon--left fa-user" style="margin-right: 10px;"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.StatisticCheck"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_npc">
        <button class="mythic-gme-dialog__button" id="mgme_panel_npc">
            <i class="fas mythic-gme-dialog__icon--left fa-list"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.NPCList"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__dice--right mgme_panel_npc_roll">
        <button class="mythic-gme-dialog__button" id="mgme_panel_npc_roll" style="height: 32px;">
            <i class="fas mythic-gme-dialog__icon--left fa-dice"></i>
            <span class="mythic-gme-dialog__button-control-label"></span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_thread">
        <button class="mythic-gme-dialog__button" id="mgme_panel_thread">
            <i class="fas mythic-gme-dialog__icon--left fa-list"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.ThreadList"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__dice--left mgme_panel_thread_roll">
        <button class="mythic-gme-dialog__button" id="mgme_panel_thread_roll" style="height: 32px;">
            <i class="fas mythic-gme-dialog__icon--left fa-dice"></i>
            <span class="mythic-gme-dialog__button-control-label"></span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_ci">
        <button id="mgme_panel_ci">
            <i style="margin: 0;" class="fas mythic-gme-dialog__icon--left fa-arrow-up"></i>
            <span class="sr-only"><span class="mythic-gme-dialog__button-control-label">{{localize
                    "MGME.IncreaseChaos"}}</span></span>
        </button>
    </div>
    <h2 id="mgme_panel_ct" class="mgme_panel_ct">Chaos Factor</h2>
    <span id="mgme_panel_cc" class="mgme_panel_cc">{{ rankValue }}</span>
    <div class="mythic-gme-dialog__button-control mgme_panel_cd">
        <button id="mgme_panel_cd">
            <i style="margin: 0;" class="fas mythic-gme-dialog__icon--left fa-arrow-down"></i>
            <span class="sr-only"><span class="mythic-gme-dialog__button-control-label">{{localize
                    "MGME.DecreaseChaos"}}</span></span>
        </button>
    </div>
</div>