<div class="mythic-gme-dialog">
    <div class="mythic-gme-dialog__button-control mgme_panel_fq">
        <button class="mythic-gme-dialog__button" id="mgme_panel_fq">
            <i class="fas mythic-gme-dialog__icon--left fa-question"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.FateChart"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_sa">
        <button class="mythic-gme-dialog__button" id="mgme_panel_sa">
            <i class="fas mythic-gme-dialog__icon--left fa-question"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.SceneAlteration"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_re">
        <button class="mythic-gme-dialog__button" id="mgme_panel_re">
            <i class="fas mythic-gme-dialog__icon--left fa-lightbulb"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.RandomEvent"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_fo">
        <button class="mythic-gme-dialog__button" id="mgme_panel_fo">
            <i class="fas mythic-gme-dialog__icon--left fa-lightbulb"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.EventFocus"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_npc">
        <button class="mythic-gme-dialog__button" id="mgme_panel_npc">
            <i class="fas mythic-gme-dialog__icon--left fa-list"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.CharacterList"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__dice--right mgme_panel_npc_roll">
        <button class="mythic-gme-dialog__button" id="mgme_panel_npc_roll" style="height: 32px;">
            <i class="fas mythic-gme-dialog__icon--left fa-dice"></i>
            <span class="mythic-gme-dialog__button-control-label"></span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_thread">
        <button class="mythic-gme-dialog__button" id="mgme_panel_thread">
            <i class="fas mythic-gme-dialog__icon--left fa-list"></i>
            <span class="mythic-gme-dialog__button-control-label">{{localize "MGME.ThreadList"}}</span>
        </button>
    </div>
    <div class="mythic-gme-dialog__dice--left mgme_panel_thread_roll">
        <button class="mythic-gme-dialog__button" id="mgme_panel_thread_roll" style="height: 32px;">
            <i class="fas mythic-gme-dialog__icon--left fa-dice"></i>
            <span class="mythic-gme-dialog__button-control-label"></span>
        </button>
    </div>
    <div class="mythic-gme-dialog__button-control mgme_panel_ci">
        <button id="mgme_panel_ci">
            <i style="margin: 0;" class="fas mythic-gme-dialog__icon--left fa-arrow-up"></i>
            <span class="sr-only"><span class="mythic-gme-dialog__button-control-label">{{localize
                    "MGME.IncreaseChaos"}}</span></span>
        </button>
    </div>
    <h2 id="mgme_panel_ct" class="mgme_panel_ct">{{localize "Chaos Factor"}}</h2>
    <span id="mgme_panel_cc" class="mgme_panel_cc">{{rankValue}}</span>
    <div class="mythic-gme-dialog__button-control mgme_panel_cd">
        <button id="mgme_panel_cd">
            <i style="margin: 0;" class="fas mythic-gme-dialog__icon--left fa-arrow-down"></i>
            <span class="sr-only"><span class="mythic-gme-dialog__button-control-label">{{localize "MGME.DecreaseChaos"}}</span></span>
        </button>
    </div>
</div>
<div>
    <table>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">{{localize "Discovering Meaning"}}</h5></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_actions">{{localize "Actions"}}</button></td>
            <td class="spaced"><button id="mgme_el_descriptions">{{localize "Descriptions"}}</button></td>
            <td class="spaced"><button id="mgme_el_sceneadj">{{localize "Scene Adjust"}}</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">{{localize "Element Meaning: Characters"}}</h5></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_charback">{{localize "Background"}}</button></td>
            <td class="spaced"><button id="mgme_el_charid">{{localize "Identity"}}</button></td>
            <td class="spaced"><button id="mgme_el_charpers">{{localize "Personality"}}</button></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_charapp">{{localize "Appearance"}}</button></td>
            <td class="spaced"><button id="mgme_el_characters">{{localize "Descriptors 1"}}</button></td>
            <td class="spaced"><button id="mgme_el_chardesc">{{localize "Descriptors 2"}}</button></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_charmot">{{localize "Motivations"}}</button></td>
            <td class="spaced"><button id="mgme_el_charskills">{{localize "Skills"}}</button></td>
            <td class="spaced"><button id="mgme_el_chartraits">{{localize "Traits & Flaws"}}</button></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_charconv">{{localize "Conversations"}}</button></td>
            <td class="spaced"><button id="mgme_el_charact">{{localize "General Actions"}}</button></td>
            <td class="spaced"><button id="mgme_el_charcomb">{{localize "Combat Actions"}}</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">{{localize "Element Meaning: Locations"}}</h5></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_cavern">{{localize "Cavern"}}</button></td>
            <td class="spaced"><button id="mgme_el_city">{{localize "City"}}</button></td>
            <td class="spaced"><button id="mgme_el_domicile">{{localize "Domicile"}}</button></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_civdesc">{{localize "Civilization"}}</button></td>
            <td class="spaced"><button id="mgme_el_dungeon">{{localize "Dungeon"}}</button></td>
            <td class="spaced"><button id="mgme_el_forest">{{localize "Forest"}}</button></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_location">{{localize "Locations"}}</button></td>
            <td class="spaced"><button id="mgme_el_starship">{{localize "Starship"}}</button></td>
            <td class="spaced"><button id="mgme_el_terrain">{{localize "Terrain"}}</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">{{localize "Element Meaning: Monsters"}}</h5></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_aactions">{{localize "Animal Actions"}}</button></td>
            <td class="spaced"><button id="mgme_el_creatab">{{localize "Abilities"}}</button></td>
            <td class="spaced"><button id="mgme_el_creatdes">{{localize "Creature"}}</button></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_gods">{{localize "Gods"}}</button></td>
            <td class="spaced"><button id="mgme_el_legends">{{localize "Legends"}}</button></td>
            <td class="spaced"><button id="mgme_el_undead">{{localize "Undead"}}</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">{{localize "Element Meaning: Sensory"}}</h5></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_smells">{{localize "Smells"}}</button></td>
            <td class="spaced"><button id="mgme_el_sounds">{{localize "Sounds"}}</button></td>
            <td class="spaced"><button id="mgme_el_vandd">{{localize "Visions & Dreams"}}</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">{{localize "Element Meaning: Objects"}}</h5></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_objects">{{localize "Objects"}}</button></td>
            <td class="spaced"><button id="mgme_el_magicitem">{{localize "Magic Item"}}</button></td>
            <td class="spaced"><button id="mgme_el_scavenge">{{localize "Scavenge"}}</button></td>
        </tr>
        <tr>
            <td colspan="4"><h5 style="text-align:center; margin-bottom: 0; margin-top: 0">{{localize "Element Meaning: Miscellaneous"}}</h5></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_charnames">{{localize "Names"}}</button></td>
            <td class="spaced"><button id="mgme_el_noble">{{localize "Noble House"}}</button></td>
            <td class="spaced"><button id="mgme_el_atone">{{localize "Tone"}}</button></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_curses">{{localize "Curses"}}</button></td>
            <td class="spaced"><button id="mgme_el_powers">{{localize "Powers"}}</button></td>
            <td class="spaced"><button id="mgme_el_spells">{{localize "Spell Effects"}}</button></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_aspecies">{{localize "Alien Species"}}</button></td>
            <td class="spaced"><button id="mgme_el_muts">{{localize "Mutations"}}</button></td>
            <td class="spaced"><button id="mgme_el_duntraps">{{localize "Dungeon Traps"}}</button></td>
        </tr>
        <tr>
            <td class="spaced"><button id="mgme_el_army">{{localize "Army"}}</button></td>
            <td class="spaced"><button id="mgme_el_cmessage">{{localize "Cryptic Message"}}</button></td>
            <td class="spaced"><button id="mgme_el_plottw">{{localize "Twists"}}</button></td>
        </tr>
    </table>
</div>