<div id="mythic-gme-window">
    <table>
        <tr>
            <td><button id="mgme_panel_fq"><i class="fas fa-question" style="margin-right: 10px;"></i>{{ localize 'MGME.FateChart' }}</button></td>
            <td><button id="mgme_panel_sa"><i class="fas fa-question" style="margin-right: 10px;"></i>{{ localize 'MGME.SceneAlteration' }}</button></td>
        </tr>
        <tr>
            <td><button id="mgme_panel_re"><i class="fas fa-lightbulb" style="margin-right: 10px;"></i>{{ localize 'MGME.RandomEvent' }}</button></td>
            <td><button id="mgme_panel_fo"><i class="fas fa-lightbulb" style="margin-right: 10px;"></i>{{ localize 'MGME.EventFocus' }}</button></td>
        </tr>
        <tr>
            <td><button id="mgme_panel_ci"><i class="fas fa-arrow-up"></i>{{ localize 'MGME.IncreaseChaos' }}</button></td>
            <td><button id="mgme_panel_cd"><i class="fas fa-arrow-down"></i>{{ localize 'MGME.DecreaseChaos' }}</button></td>
        </tr>
    </table>
</div>