<form>
    <label for="mgme_actor_name">Actor:</label>
    <input disabled name="Actor" id="mgme_actor_name" style="margin-bottom: 10px;width:315px" value="tokenName">
    <label for="mgme_behavior_theme">{{localize "MGME.Theme"}}:</label>
    <input name="Theme" class="mgme_change_save" id="mgme_behavior_theme" style="margin-bottom: 10px;width:285px" placeholder="{{localize "MGME.Theme"}}">

    <div>
        <label for="mgme_behavior_identity">{{localize "MGME.Identity"}}:</label>
        <input name="Identity" class="mgme_change_save" id="mgme_behavior_identity" style="margin-bottom:10px;width:168px;margin-left:21px;margin-right:20px;" required placeholder="{{localize "MGME.Descriptor"}}">
        <label for="mgme_behavior_identity_mod">Mod:</label>
        <select name="Identity Mod" class="mgme_change_save mgme_change_refresh" id="mgme_behavior_identity_mod" style="margin-bottom:10px;width:50px">
            <option value="-2">-2</option>
            <option value="0" selected>0</option>
            <option value="2">+2</option>
        </select>
        <input style="vertical-align:middle;" type="checkbox" class="mgme_change_save mgme_change_refresh" id="mgme_behavior_identity_active">
    </div>

    <div>
        <label for="mgme_behavior_personality">{{localize "MGME.Personality"}}:</label>
        <input name="Personality" class="mgme_change_save" id="mgme_behavior_personality" style="margin-bottom:10px;width:168px" placeholder="{{localize "MGME.Descriptor"}}">
        <i style="width:auto;height:25px;" id="mgme_behavior_rng" class="fas fa-dice"></i>
        <label for="mgme_behavior_personality_mod">Mod:</label>
        <select name="Personality Mod" class="mgme_change_save mgme_change_refresh" id="mgme_behavior_personality_mod" style="margin-bottom:10px;width:50px">
            <option value="-2">-2</option>
            <option value="0" selected>0</option>
            <option value="2">+2</option>
        </select>
        <input style="vertical-align:middle;" type="checkbox" class="mgme_change_save mgme_change_refresh" id="mgme_behavior_personality_active">
    </div>

    <div>
        <label for="mgme_behavior_activity">{{localize "MGME.Activity"}}:</label>
        <input name="Activity" class="mgme_change_save" id="mgme_behavior_activity" style="margin-bottom:10px;width:168px;margin-left:21px;" placeholder="{{localize "MGME.Descriptor"}}">
        <i style="width:auto;height:25px;" id="mgme_activity_rng" class="fas fa-dice"></i>
        <label for="mgme_behavior_activity_mod">Mod:</label>
        <select name="Activity Mod" class="mgme_change_save mgme_change_refresh" id="mgme_behavior_activity_mod" style="margin-bottom: 10px;width:50px">
            <option value="-2">-2</option>
            <option value="0" selected>0</option>
            <option value="2">+2</option>
        </select>
        <input style="vertical-align:middle;" type="checkbox" class="mgme_change_save mgme_change_refresh" id="mgme_behavior_activity_active">
    </div>

    <div>
        <label style="color:darkred;" for="mgme_behavior_disposition">{{localize "MGME.Disposition"}}:</label>
        <input disabled name="Behavior Disposition" id="mgme_behavior_disposition" style="margin-bottom: 10px;width:205px">
        <input disabled type="number" name="Behavior Disposition Value" id="mgme_behavior_disposition_value" style="margin-bottom: 10px;width:20px;height:17px">
        <i style="width:auto;height:25px;margin-right:10px;color:darkred" class="fas fa-dice" id="mgme_disposition_rng"></i>
        <i style="width:auto;height:25px;margin-right:10px;" class="fas fa-arrow-up" id="mgme_disposition_up"></i>
        <i style="width:auto;height:25px;" class="fas fa-arrow-down" id="mgme_disposition_down"></i>
    </div>

</form>

<style>
    i:hover {
        text-shadow: 0 0 8px red;
    }
</style>