<form>
  <div>
  <label for="mgme_v2_odds">{{localize "MGME.Odds"}}:</label>
  <select name="Odds" id="mgme_v2_odds" style="margin-bottom: 10px;">
    <option value="imp">{{localize "MGME.Impossible"}}</option>
    <option value="nw">{{localize "MGME.NoWay"}}</option>
    <option value="vu">{{localize "MGME.VeryUnlikely"}}</option>
    <option value="u">{{localize "MGME.Unlikely"}}</option>
    <option value="ff" selected>{{localize "MGME.fiftyfifty"}}</option>
    <option value="l">{{localize "MGME.Likely"}}</option>
    <option value="vl">{{localize "MGME.VeryLikely"}}</option>
    <option value="st">{{localize "MGME.SureThing"}}</option>
    <option value="htb">{{localize "MGME.HasToBe"}}</option>
  </select>
  <label for="mgme_chaos" style="margin-left: 5px;">{{localize "MGME.ChaosFactor"}}:</label>
  <select name="Chaos" id="mgme_chaos" style="margin-bottom: 10px;">
    <option value="6">6</option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
  </select>
  </div>
  <div>
  <label for="mgme_v2_question">{{localize "MGME.Question"}} ({{localize "MGME.Optional"}}):</label>
  <input name="Question" id="mgme_v2_question" style="margin-bottom:10px;width: 260px;" placeholder="{{localize "MGME.Question"}}"/>
  </div>
  <div style="margin-bottom: 5px">
    <label for="mgme_v2_yesfav" style="vertical-align:super;">{{localize "MGME.YesIsFavorable"}}</label>
    <input name="Yes is Favorable" type="checkbox" id="mgme_v2_yesfav">
  </div>
</form>