<form>
    <div>
        <label for="mgme_backstory_count">{{localize "MGME.Question"}} ({{localize "MGME.Optional"}}):</label>
        <select name="Backstory Check" id="mgme_backstory_count" style="margin-bottom:10px;width:260px">
        <option value="table" selected>Mythic GME: Backstory Events</option>
        <option value="1">{{localize "MGME.BackstoryOne"}}</option>
        <option value="2">{{localize "MGME.BackstoryTwo"}}</option>
        <option value="3">{{localize "MGME.BackstoryThree"}}</option>
        <option value="4">{{localize "MGME.BackstoryFour"}}</option>
        <option value="5">{{localize "MGME.BackstoryFive"}}</option>
        <option value="6">{{localize "MGME.BackstorySix"}}</option>
        <option value="7">{{localize "MGME.BackstorySeven"}}</option>
        </select>
    </div>
</form>